html {
	background-image: url("1484592146422_cuisine_chef.jpg");
	background-repeat : no-repeat;
	background-size : cover;
}

section {
	text-align : center;
	position : absolute;
	top : 45%;
	left : 45%;
	font-family: Arial, "Times New Roman", Georgia, Serif;
	text-decoration : none;
	opacity : 0.6;
}

h1 {
	font-size : 2.0em;
}

h2 {
	font-style : italic;
	font-size : 1.4em;
}
